.header{
    background: $dark-bege;
    padding: 20px 0;
   
    .header-menu ul{
        display: flex;
        flex-wrap: wrap;
        @include d(s){
            margin-top: 10px;
        }
        li{
            
            a{
                color: $black;
                padding: 0 10px;
                font-size: 1.125em;
                text-transform: uppercase;
                transition: .4s all ease-in-out;
                @include d(s){
                    font-size: 1em;
                    padding: 0 8px;
                }
                &:hover{
                    color: $orange;
                }
            }
            &:first-child a{
                padding-left: 0;
            }
        }
        li:last-child{
            a{
                background: $orange;
                color: $bege;
                padding: 10px 20px;
                border-radius: 10px;
                transition: .4s all ease-in-out;
                @include d(s){
                   background: none;
                   color: $orange;
                   padding-left: 0;
                }
                &:hover{
                    color: $orange;
                    background: $black;
                    @include d(s){
                        color: $black;
                        background: none;
                     }
                }
            }
        }
    }
}
