.header{
    background: $dark-bege;
    padding: 20px;
    &::after, &::before{
        content: '';
        display: table;
        clear: both;
    }
    .header-logo{
        float: left;
    }
    .header-menu{
        float: right;
        ul li{
            display: inline-block;
            a{
                color: $black;
                padding: 0 10px;
                font-size: 1.125em;
                text-transform: uppercase;
            }
            &:first-child a{
                padding-left: 0;
            }
        }
    }
}
