
.side-nav{
    flex: 1;
    max-width: 300px;
    background: $black;
    margin-right: 10px;
    ul li{
       margin: 30px 0;
      
    }
    ul li a{
        color: $white;
        padding: 20px; 
        border-bottom: 2px solid $light-black;
        font-size: 1.125em;
        transition: .4s all ease-in-out;
        text-decoration: none;
        &:hover{
            background-color: $orange;
            
        }  
        &::before{
            content: '';
            display: inline-block;
            width: 24px;
            height: 24px;
            position: relative;
            top: 5px;
            background-image: url('../img/icones.png');
            
        }
        
    }
    li:first-child a::before{
        background-position: 0 0px;
    }
    li:nth-child(2) a::before{
        background-position: 0 -24px;
    }
    li:nth-child(3) a::before{
        background-position: 0 -48px;
    }
    li:nth-child(4) a::before{
        background-position: 0 -72px;
    }
    li:nth-child(5) a::before{
        background-position: 0 -96px;
    }
    li:nth-child(6) a::before{
        background-position: 0 -120px;
    }

    @include d(s){
        margin: 10px;
        background: none;
        max-width: 100%;
     }
     ul{
        @include d(s){
            display: flex;
            flex-wrap: wrap;
            margin-top: 10px;
        }
    }

    ul li{
        @include d(s){
            margin-bottom: 10px;
            margin-right: 10px;
        }
        a{
            @include d(s){
                width: 44px;
                height: 44px;
                overflow: hidden;
                padding: 10px;
                border: none;
                color: $black;
                background: $black;
                border-radius: 10px;
                margin-right: 10px;
             } 
        }
        a:hover{
            @include d(s){
                color: $orange;
            }
        }
        a::before{
            @include d(s){
                margin: 0;
                top: 0;
            }
        }    
    }
}