.products{
    width: calc(100% - 300px);
    margin: 0 auto;
    max-width: 960px;
    padding: 20px;
    @include d(m){
        width: calc(100% - 200px);
    }
    @include d(s){
        width: 100%;
    }

    h1{
        font-size:2.25em;
        float: left;
        @include d(s){
            float: none;
        }
    }
    header{
        &::before, &::after{
            content: '';
            display: table;
            clear: both;
        }
        a{
            background-color: $orange;
            color: $bege;
            transition: .4s all ease-in-out;
            padding: 15px 20px;
            border-radius: 10px;
            font-size: 1.125em;
            font-family: Courier New, Courier, monospace;
            text-transform: uppercase;
            float: right;
            text-align: center;
            &:hover{
                background-color: $black;
                color: $orange;
            }
            @include d(s){
                float: none;
                display: inline-block;
                margin: 10px 0;
            }
        }
    }
    
    .products-item{
        background: $white;
        box-shadow: 0 1px 3px 0 rgba(0,0,0,.35);
        margin-top: 20px;
        position: relative;
        &::before, &::after{
            content: '';
            display: table;
            clear: both;
        }
        img{
            float: left;
            @include d(s){
                float: none;
            }
        }
        a{
            width: 30px;
            height: 30px;
            overflow: hidden;
            text-indent: -200px;
            position: absolute;
            top: 10px;
            right: 20px;
            background: url('../img/edit.svg') no-repeat;
            transition: .4s all ease-in-out;
        }
        a:hover{
            background: url('../img/edit-hover.svg') no-repeat;
        }
        ul{
            float: left;
            padding: 0 20px;
            width: calc(100% - 140px);
            @include d(s){
                float: none;
                width: 100%;
            }

            li{
                border-bottom: 1px solid $bege;
                padding: 10px 0;
                font-family: Courier New, Courier, monospace;
                font-size: 1.125em;
                &:last-child{
                    border: none;
                }
                span{
                    display: inline-block;
                    font-weight: bold;
                    width: 70px;
                    text-transform: uppercase;
                }
            }
        }
    }
   
}